name: GeoJSON Änderungs-Mail
  
#on:
#  push:
#   paths:
#      - data/json/defis_kt_be.geojson
#    branches:
#      - main


on:
  schedule:
  #- cron:  '00 6 * * *' # run every day at 06:00 UTC
  - cron:  '*/60 * * * *' # run every hour
  workflow_dispatch: ~

jobs:
  diff-and-mail:
    runs-on: ubuntu-latest

    steps:
      - name: Repository auschecken
        uses: actions/checkout@v4
        with:
          fetch-depth: 4

      - name: Python installieren
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Diff erzeugen
        run: |
          python scripts/geojson_diff.py \
            <(git show HEAD~1:data/json/defis_kt_be.geojson) \
            data/json/defis_kt_be.geojson \
            > diff.html

      - name: Mail versenden
        if: ${{ always() && (files.exists('diff.html')) }}
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: asmtp.mail.hostpoint.ch
          server_port: 587
          secure: false
          username: ${{ secrets.MAIL_USER }}
          password: ${{ secrets.MAIL_PASS }}
          subject: "Änderungen an Defis Kanton Bern"
          html_body: file://diff.html
          to: reports@defikarte.ch
          from: Defikarte.ch Reporting