name: Get data from Overpass

on:
  schedule:
  #- cron:  '00 6 * * *' # run every day at 06:00 UTC
  - cron:  '*/60 * * * *' # run every hour
  workflow_dispatch: ~

jobs:
  query_overpass:
    runs-on: ubuntu-latest
    continue-on-error: false
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@main
 
    - name: Set up Python
      uses: actions/setup-python@main
      with:
        python-version: 3.13
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        sudo npm install -g osmtogeojson

    - name: Get data from Overpass API
      run: |
        ./run_queries.sh
    
    - uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: Update overpass query results
        commit_user_name: chnuessli
        commit_user_email: chrigi@chnuessli.ch
        commit_author: GitHub Action Bot <chrigi@chnuessli.ch>

    - name: Diff erzeugen
      uses: actions/checkout@v4
      with:
        fetch-depth: 2   # wichtig für HEAD~1

    - name: Diff HTML erstellen
      run: |
        python scripts/geojson_diff.py \            <(git show HEAD~1:data/json/defis_kt_be.geojson) \
           data/json/defis_kt_be.geojson \
           > diff.html
           
    - name: Mail versenden
      uses: dawidd6/action-send-mail@v3
      with:     
        server_address: asmtp.mail.hostpoint.ch
        server_port: 587
        secure: false
        username: ${{ secrets.MAIL_USER }}
        password: ${{ secrets.MAIL_PASS }}
        subject: "Änderungen an Defis Kanton Bern"
        html_body: file://diff.html
        to: reports@defikarte.ch
        from: Defikarte.ch Reporting
