name: Get data from Overpass

on:
  schedule:
  #- cron:  '00 6 * * *' # run every day at 06:00 UTC
  - cron:  '*/60 * * * *' # run every hour
  workflow_dispatch: ~

jobs:
  query_overpass:
    runs-on: ubuntu-latest
    continue-on-error: false
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@main
 
    - name: Set up Python
      uses: actions/setup-python@main
      with:
        python-version: 3.13
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        sudo npm install -g osmtogeojson

    - name: Get data from Overpass API
      run: |
        ./run_queries.sh
    
    - uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: Update overpass query results
        commit_user_name: chnuessli
        commit_user_email: chrigi@chnuessli.ch
        commit_author: GitHub Action Bot <chrigi@chnuessli.ch>

  update_geojson:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Overpass Update
        run: |
          python scripts/overpass_update.py
          git config user.name "GitHub Actions Bot"
          git config user.email "actions@github.com"
          git add data/json/defis_kt_be.geojson
          git commit -m "Overpass Update"
          git push

      - name: Diff & Mail
        run: |
          python scripts/geojson_diff.py \
            <(git show HEAD~1:data/json/defis_kt_be.geojson) \
            data/json/defis_kt_be.geojson \
            > diff.html